.client{
    margin-bottom: 20rem;
    &-list{
        margin-top: 10rem;
        @include flexbox(flex-start, space-between);
    }
    &-item{
        @include flexbox(center, center, column);
        width: calc(33.33% - 46.67px);
        padding: 5rem 2.5rem;
        border: 1px solid rgba($color: $gray-blur, $alpha: 0.5);
        border-radius: 2rem;
        
    }
    // hover
    &-item{
        @include hover-shadow();
    }

    &-avatar{
        @include size(10rem);
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-bottom: 2rem;
    }

    &-name{
        font-size: 3rem;
        padding-bottom: 1.7rem;
    }
    &-job{
        color: $gray-blur;
        
    }
    &-desc{
        padding-top: 3rem;
        margin-top: 3rem;
        margin-bottom: 3.5rem;
        position: relative;
        text-align: center;
        color: $gray-blur;
        // set hiển thị 3 chấm
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow:ellipsis ;
        &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: rgba($color: $gray-blur, $alpha: 0.5);
            top: 0;
            left: 0;
        }
    }
    &-vote{
        &-list{
            @include flexbox(column);

        }
        &-star{
            color: rgb(255, 196, 0);
            padding: 0 5px;
        }
    }
// RESPONSIVE
    @media screen and (max-width: 1279px){
        &-item{
            width: calc(33.33% - 16.67px);
        }
        &-list{
            margin-top: 5rem;
        }
    }
    @media screen and (max-width: 1023px){
        &-list {
            display: grid;
            justify-content: flex-start;
            grid-auto-columns: 400px;
            grid-auto-flow: column;
            grid-gap: 0 5rem;
            overflow: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-snap-stop: always;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            -webkit-overflow-scrolling: touch;
            scroll-padding: 1rem;
            grid-template-columns: unset;
            &::-webkit-scrollbar {
            display: none;
            width: 0;
            }
            & > * {
            scroll-snap-align: start;
            width: 100%;
            }
        }
    }
    @media screen and (max-width: 479px) {
        &-list {
          grid-auto-columns: 80%;
        }

    }

}