.work{

    &-list{
        padding-bottom: 16rem;
        @include flexbox(column);
        justify-content: space-between;
        margin-top: 10rem;
    }
    &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba($color: $gray-blur, $alpha: 0.5);
        border-radius: 2rem;
        // margin: 0 auto;
        // &:not(:first-child){
        //     margin-left: 7rem;
        // }
        width: calc(33.33% - 46.67px);
        padding: 4rem 3rem;
    }
    &-image{
        min-height: 1.2rem;
        margin: 0 auto;
        padding-bottom: 4rem;
        object-fit: cover;
    }
    &-title{
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 4.5rem;
    }
    &-desc{
        color: $gray-blur;
        margin-bottom: 12.5rem;
        // set hiển thị 3 chấm
        display: -webkit-box;
        text-align: center;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow:ellipsis ;
        line-height: 1.5;
    }
    &-item .button--outline{
        display: inline-block;
        text-align: center;
        &:hover{
            border: transparent;
            background-color: $primary-color;
            color: white;
        }
    }
    // hover
    &-item{
        @include hover-shadow();
    }
// Responsive
    @media screen and (max-width: 1279px){
        &-list{
            margin-top: 5rem;
        }
        &-desc{
            margin-bottom: 7rem;
        }
        // &-item:not(:first-child){
        //     margin-left: 2rem;
        // }
    }
    @media screen and (max-width: 1023px){
        &-item{
            width: calc(33.33% - 2rem);
            padding: 2rem 1.5rem;
        }
        &-title{
            font-size: 2rem;
        }
        &-desc{
            margin-bottom: 4rem;
        }
    }
    @media screen and (max-width: 767px){
        &-caption{
          font-size: 1.3rem;
        }
        &-title span{
          font-size: 4rem;
        }
        &-list{
            display: unset;
        }
        &-item{
            width: 100%;
            max-width: 300px;
            margin: 3rem auto 2.5rem;
        }
        
      }

}